html,
body{
    font-family:lato;
}
.signin{
    height: 100%;
}
.signincotent {
    width: 400px;
}
h1 {
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    text-transform: capitalize;
    color: #4F4F4F;
    font-weight: 400;
    margin: 0;
    margin-bottom: 8px;
}
span,h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #828282;
    display: block;
}
#signinform {
    background: #FFFFFF;
box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.16);
border: 1px solid #000000;
border-radius: 16px;
padding: 40px;
margin-top: 40px;
}

#signupform {
    background-image: url("background.jpg");
  
border: 1px solid #000000;
width: 400px;
box-sizing: border-box;
box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
border-radius: 8px;

}
#uploadform {
    background: #FFFFFF;
/* box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.16); 
 border-radius: 16px; 
padding: 40px;
margin-top: 40px;
margin-bottom: 40px;  */

/* text-align: center; */
}
.uploadform1 {
    background: #FFFFFF;
box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.16);
border-radius: 16px;
padding: 16px;
width: 600px;
height: 250px;
margin-top: 40px;
margin: auto;
margin-bottom: 40px;

}
.uploadform2 {
    background: #FFFFFF;
box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.16);
border-radius: 16px;
padding: 16px;
width: 600px;
margin-top: 40px;
margin-bottom: 40px;
margin: auto;
}

.upload {
    height: 100%;
    font-family: lato;
    width:400px;
    
    margin: auto;
}
label {
    font-size: 16px;
line-height: 130%;
color: #4F4F4F;
margin-bottom: 8px;
display: block;
}

input {
    background: #FFFFFF;
      border: 1px solid #E0E0E0;
      box-sizing: border-box;
      border-radius: 4px;
      height: 53px;
      padding: 16px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      margin-bottom: 24px;
}
input::placeholder {
    color: #BDBDBD;
}
button {
    background: #35CE97;
    border: 1px solid #35CE97;
    box-sizing: border-box;
    border-radius: 88px;
    height: 56px;
    font-size: 20px;
line-height: 24px;
margin-top: 40px;
align-items: center;
text-align: center;
text-transform: capitalize;
color: #F2F2F2;
}
#errormessage {
    color: #ff0000;
    margin: 0;
    margin-bottom: 24px;
}
.whatwhy {
    padding-top: 16px;
  padding-right: 160px;
  padding-bottom: 70px;
  padding-left: 16px;
}
#uploadform.emotions {
    padding: 16px;
}
.emotionsclass {
    display: inline-block
}


#category {
    background: #FFFFFF;
/* Gray 5 */

border: 1px solid #E0E0E0;
box-sizing: border-box;
border-radius: 4px;
}
#radios .radio {
    display: inline-block;
    width: 20%;
    float:left;
    padding-top: 40px;
}
/* .radio{
    
    width: 20%;
    float:left;
} */