html,
body{
    font-family:lato;
    width: 1440px;
height: 1800px;
background-image: url("background.jpg");
    
}
.signin{
    height: 100%;
}
.signincontent {
    width: 400px;
}
h1 {
    font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 84px;
    
    text-align: center;
    text-transform: capitalize;
    color: #030303;
    margin: 0;
    margin-bottom: 8px;
}
span,h3 {
    font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 42px;
display: flex;
align-items: center;
color: #FFFFFF;  
    text-align: center;
    display: block;
}
#signinform {
    /* position: absolute;
    width: 736px;
    height: 794px;
    left: 352px;
    top: 333px; */
       
    box-sizing: border-box;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    background: #FFFFFF;

padding: 40px;
margin-top: 40px;
}

#signupform {
    background: #FFFFFF;
width: 400px;
padding: 16px;
box-sizing: border-box;
box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
border-radius: 20px;

}
#uploadform {
   background-repeat: no-repeat;
/* box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.16); 
 border-radius: 16px; 
padding: 40px;
margin-top: 40px;
margin-bottom: 40px;  */

/* text-align: center; */
}
.uploadform1 {
    background: #FFFFFF;
box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.16);
border-radius: 16px;
padding: 16px;
width: 600px;
height: 250px;
margin-top: 40px;
margin: auto;
margin-bottom: 40px;

}
.uploadform2 {
    background: #FFFFFF;
box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.16);
border-radius: 16px;
padding: 16px;
width: 600px;
margin-top: 40px;
margin-bottom: 40px;
margin: auto;
}

.upload {
    height: 100%;
    font-family: lato;
    width:400px;
    
    margin: auto;
}
label {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    /* position: absolute;
    left: 50px;
    top: 62.77px; */
    color: #000000;

    /* font-size: 16px; */
/* line-height: 130%; */
/* color: #4F4F4F; */
margin-bottom: 8px;
display: block;
}

input {
    background: #FEB2A8;
border-radius: 32px;
font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
/* font-size: 40px;
line-height: 53px; */



    background: #FFFFFF;
      border: 1px solid #E0E0E0;
      box-sizing: border-box;
      /* border-radius: 4px; */
      height: 53px;
      padding: 16px;
      /* font-style: normal; */
      /* font-weight: 500; */
      font-size: 16px;
      /* line-height: 130%; */
      /* margin-bottom: 24px; */
}
input::placeholder {
    color: #BDBDBD;
}
button {
    background: #FEB2A8;
    border: 1px solid #FEB2A8;
    box-sizing: border-box;
    border-radius: 88px;
    height: 56px;
    font-size: 20px;
line-height: 24px;
margin-top: 40px;
align-items: center;
text-align: center;
text-transform: capitalize;
color: #F2F2F2;
}
#errormessage {
    color: #ff0000;
    margin: 0;
    margin-bottom: 24px;
}
.whatwhy {
    padding-top: 16px;
  padding-right: 160px;
  padding-bottom: 70px;
  padding-left: 16px;
}
#uploadform.emotions {
    padding: 16px;
}
.emotionsclass {
    display: inline-block
}


#category {
    background: #FFFFFF;
/* Gray 5 */

border: 1px solid #E0E0E0;
box-sizing: border-box;
border-radius: 4px;
}
#radios .radio {
    display: inline-block;
    width: 20%;
    /* float:left; */
    padding-top: 40px;
}

/* .radio{
    
    width: 20%;
    float:left;
} */